body {
    overflow: auto;
    overscroll-behavior: auto;
    margin: 0px;
    background: rgb(192,57,43);
    background: linear-gradient(90deg, rgba(192,57,43,1) 0%, rgba(250,118,105,1) 21%, rgba(250,118,105,1) 89%, rgba(192,57,43,1) 100%);



}




#wrapper {
    display: grid; 
    height: calc(100vh);
    grid-template-rows: 20% 60% 10% 60% 60% 60% 20.8%;
    grid-template-areas:
        'hd hd hd'
        'st1 st1 st1'
        'nv nv nv'
        'st2 st3 st4'
        'st5 st6 st7'
        'st8 st9 st10'
        'ft ft ft';


}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

header {
    grid-area: hd;
    background-color: #FAECDC;
    float: right;


}

#logo {
    grid-area: hd;
    height: 100%;
    float: left;
}
#Pluss {
    height: 70%;
    padding: 30px;
    float: right;
    
}
#Pluss:hover {
    transform: scale(1.10);
    transition: 500ms;
}

#Load_up {
    position: absolute;
    top: -2%;
    right: 5px;
}

#section1 {
    grid-area: st1;
    border-radius: 10px;
    width: 80%;
    justify-self: center;
    
}
#BildText1 {
    grid-area: st1;
    padding-left: 160px;
    font-size: 50px;
    text-decoration: underline;
}
#BildText2 {
    grid-area: st1;
    font-size: 30px;
    padding-left: 260px;
}
#BildText3 {
    grid-area: st1;
    padding-left: 235px;
    font-size: 20px;
}

#Bild1 {
    grid-area: st1;
    height: 70%;
    width: 40%;
    padding: 60px;
    float: right; 

}
#Bild1:hover {
    transform: scale(1.05);
    transition: 500ms;


}

nav {
    grid-area: nv;
    background-color: #fff1dd;
 
}

#Latest {
    text-align: start;
    padding-left: 600px; 
    text-decoration: underline;
}

#Cheapest {
    position: relative;
    text-align: center;
    top: -38px;
    text-decoration: underline;
}

#Search {
    position: relative;
    text-align: end;
    top: -80px;
    padding-right: 600px;
    text-decoration: underline;

}

#section2 {
    grid-area: st2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

#section3 {
    grid-area: st3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#section4 {
    grid-area: st4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.Bild2-10 {
    height: 60%;
    width: 90%;
    padding: 10px;
    float: right;



}

.Bild2-10:hover {
    
    transform: scale(1.05);
    transition: 500ms;

}
#section5 {
    grid-area: st5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#section6 {
    grid-area: st6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#section7 {
    grid-area: st7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}
#section8 {
    grid-area: st8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}
#section9 {
    grid-area: st9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#section10 {
    grid-area: st10;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

footer {
    grid-area: ft;
    background-color: #F5B7B1;
    text-align: right;
    padding-right: 10px;
}

#About {
    width: 150px;
}

